@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0A1628;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A1628;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-plus-jakarta-sans), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
